<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">{{title}}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">{{addButton.nav}}</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">{{addButton.sideNav}}</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#budgets">{{budgetTab}}</a></li>
    </ul>
  </div>
</nav>

