<!--<div id="{{addBudgetId}}" class="modal">-->
  <!--<div class="modal-content">-->
    <!--<form class="col s12">-->
      <!--<div class="row">-->
        <!--<div class="input-field col s6">-->
          <!--<i class="material-icons prefix">attach_money</i>-->
          <!--<label for="income">Income</label>-->
          <!--<input placeholder="Income" id="income" type="number">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="input-field col s6">-->
          <!--<i class="material-icons prefix">date_range</i>-->
          <!--<label for="start">Start Date</label>-->
          <!--<input id="start" type="date" class="datepicker">-->
        <!--</div>-->
        <!--<div class="input-field col s6">-->
          <!--<i class="material-icons prefix">date_range</i>-->
          <!--<label for="end">End Date</label>-->
          <!--<input id="end" type="date" class="datepicker">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="input-field col s6">-->
          <!--<i class="material-icons prefix">attach_money</i>-->
          <!--<label for="work-day">Working Day</label>-->
          <!--<input placeholder="Allowance per working day" id="work-day" type="number">-->
        <!--</div>-->
        <!--<div class="input-field col s6">-->
          <!--<i class="material-icons prefix">attach_money</i>-->
          <!--<label for="non-work-day">Non Working Day</label>-->
          <!--<input placeholder="Allowance per non working day" id="non-work-day" type="number">-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>-->
    <!--<a class=" modal-action modal-close waves-effect waves-green btn-flat">Add</a>-->
  <!--</div>-->
<!--</div>-->
<div>
  hello
</div>
