@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
}

.valign-wrapper {
  flex-direction: row;
  align-items: center;
  display: flex;
  min-height:100vh;
  justify-content: center;
}

.valign-wrapper .valign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
