/* You can add global styles to this file, and also import other style files */
app-main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.valign-wrapper {
  min-height:100vh;
  justify-content: center;
}

.valign-wrapper .valign {
  margin-top: -35px;
  margin-left: -32px;
}
